@import "../core/typography";
@import "../pages/index";

.header {
  padding: 49px 0 42px;
  background: $bgcolor-lightgreen;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: $font-title;
  font-size: 16px;
  color: $color-black;

  .logo__text {
    margin-left: -5px;
  }

  &:hover {
    color: $color-orange;
  }
}

.menu {
  display: flex;
  align-items: end;
  margin-top: 7px;
  margin-left: auto;
  margin-right: 0;

  .menu__item {
    margin-right: 48px;

    &:nth-child(2) {
      .menu__link {
        width: 67px;
      }
    }

    .menu__link {
      display: block;
      font-family: $font-title;
      font-size: 16px;
      color: $color-links;
      font-weight: 400;

      &:hover {
        font-weight: 700;
        color: $color-orange;
      }

    }

    .menu__link_active {
      font-weight: 700;
      color: $color-orange;
      cursor: auto;
    }
  }

  .menu__item:last-child {
    margin-right: 0;
  }
}