body {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

p {
  margin: 0;
}

a,
a:hover,
a:active {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-size: 20px;
  letter-spacing: 0em;
  color: #717171;
}

div,
p {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-family: Inika, serif;
  font-weight: 400;
  font-size: 40px;
  color: #499a18;
}

h3 {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  line-height: 1.25em;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Inter, sans-serif;
  font-size: 20px;
  letter-spacing: 0em;
  color: #717171;
}

div,
p {
  box-sizing: border-box;
}

h2 {
  margin: 0;
  font-family: Inika, serif;
  font-weight: 400;
  font-size: 40px;
  color: #499a18;
}

h3 {
  margin: 0;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 40px;
  color: #000000;
  line-height: 1.25em;
}

.header {
  padding: 49px 0 42px;
  background: #edf2ec;
}

.nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Inika, serif;
  font-size: 16px;
  color: #000000;
}
.logo .logo__text {
  margin-left: -5px;
}
.logo:hover {
  color: #e06733;
}

.menu {
  display: flex;
  align-items: end;
  margin-top: 7px;
  margin-left: auto;
  margin-right: 0;
}
.menu .menu__item {
  margin-right: 48px;
}
.menu .menu__item:nth-child(2) .menu__link {
  width: 67px;
}
.menu .menu__item .menu__link {
  display: block;
  font-family: Inika, serif;
  font-size: 16px;
  color: #010201;
  font-weight: 400;
}
.menu .menu__item .menu__link:hover {
  font-weight: 700;
  color: #e06733;
}
.menu .menu__item .menu__link_active {
  font-weight: 700;
  color: #e06733;
  cursor: auto;
}
.menu .menu__item:last-child {
  margin-right: 0;
}

.footer {
  padding: 46px 0;
}

.credits {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
}
.credits .copyrigth__item {
  margin-right: 15px;
}
.credits .copyrigth__item:last-child {
  margin-right: 0;
}
.credits .media__link {
  margin-right: 14px;
}
.credits .media__link:last-child {
  margin-right: 0;
}
.credits .media__link svg {
  fill: #000000;
  transition: all 0.5s ease;
}
.credits .media__link svg:hover {
  fill: #e06733;
  transition: all 0.5s ease;
}

.offer {
  background: #edf2ec;
}

.home {
  display: flex;
  justify-content: space-between;
  padding: 67px 0 55px;
}
.home .home__img {
  margin-left: -7px;
}
.home .home__block {
  width: 550px;
}
.home .home__block .home__title {
  margin: 45px 0 44px;
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.1em;
  color: #717171;
}
.home .home__block .home__title .home__span {
  color: #499a18;
}
.home .home__block .home__subtitle {
  padding-right: 20px;
  line-height: 1.75em;
  margin-bottom: 55px;
}
.home .home__block .home__link {
  margin-top: 48px;
  padding: 10px 26px;
  font-family: Inter, sans-serif;
  font-size: 16px;
  color: #000000;
  text-transform: uppercase;
  border: 2px solid #e06733;
  border-radius: 10px;
  transition: all 0.5s ease;
}
.home .home__block .home__link:hover {
  color: #ffffff;
  background: #e06733;
  transition: all 0.5s ease;
}

.about {
  margin: 90px 0 96px;
}

.us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gardener {
  width: 605px;
}
.gardener .gardener__title {
  margin: 14px 0 40px;
  padding-right: 20px;
}
.gardener .gardener__title .gardener__span {
  color: #e06733;
}
.gardener .gardener__text {
  line-height: 1.5em;
}

.project .project__types .project__btn {
  width: 161px;
  height: 50px;
  padding: 12px 0;
  font-family: Inika, serif;
  font-size: 20px;
  color: #e06733;
  text-align: center;
  border: 1px solid #e06733;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.project .project__types .project__btn:hover {
  color: #ffffff;
  background-color: #e06733;
  transition: all 0.5s ease;
}

.project .project__types .project__btn_active {
  color: #ffffff;
  background-color: #e06733;
  cursor: auto;
}

.card .card__item .card__overflow .card__border {
  margin-top: -10px;
  padding: 12px 0 35px;
  text-align: center;
  border: 1px solid #e3e1d5;
  border-radius: 0 0 20px 20px;
}

.card .card__item .card__overflow .card__border .card__title {
  margin-bottom: 13px;
  font-size: 20px;
  font-weight: 700;
  color: #e06733;
}

.card .card__item .card__overflow .card__border .card__text {
  font-size: 16px;
  color: #717171;
}

.card .card__item .card__overflow:hover .card__text, .card .card__item .card__overflow:hover .card__title {
  position: absolute;
  left: 30px;
  text-align: left;
}

.service {
  padding: 40px 0 65px;
  background: #edf2ec;
}

.project {
  margin-bottom: 80px;
  display: flex;
  align-items: center;
}
.project .project__title {
  width: 306px;
}
.project .project__types {
  margin-left: 142px;
  width: 559px;
  display: flex;
  justify-content: space-between;
}
.project .project__types .project__btn {
  margin-top: 5px;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card .card__item {
  margin-bottom: 55px;
  width: 330px;
}
.card .card__item .card__overflow {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
.card .card__item .card__overflow:hover .card__img {
  filter: brightness(50%);
  transform: scale(1.6);
  -webkit-animation: slide 3s ease-in-out infinite;
          animation: slide 3s ease-in-out infinite;
}
.card .card__item .card__overflow:hover .card__title {
  top: 130px;
  font-size: 30px;
  -webkit-animation: title-slide 1s ease-in-out forwards;
          animation: title-slide 1s ease-in-out forwards;
}
.card .card__item .card__overflow:hover .card__text {
  top: 190px;
  font-size: 18px;
  color: #ffffff;
  -webkit-animation: text-slide 1s ease-in-out forwards;
          animation: text-slide 1s ease-in-out forwards;
}
.card .card__item .card__overflow .card__img {
  transition: 1.5s;
}
.card .card__item .card__overflow .card__border {
  height: 100px;
}
.card .card__item_blur {
  filter: blur(2px);
}

@-webkit-keyframes slide {
  10% {
    transform: card__img(1.1);
  }
  50% {
    transform: card__img(1.3);
  }
  100% {
    transform: card__img(1.6);
  }
}

@keyframes slide {
  10% {
    transform: card__img(1.1);
  }
  50% {
    transform: card__img(1.3);
  }
  100% {
    transform: card__img(1.6);
  }
}
@-webkit-keyframes title-slide {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 130px;
    opacity: 1;
  }
}
@keyframes title-slide {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 130px;
    opacity: 1;
  }
}
@-webkit-keyframes text-slide {
  from {
    top: 160px;
    opacity: 0;
  }
  to {
    top: 190px;
    opacity: 1;
  }
}
@keyframes text-slide {
  from {
    top: 160px;
    opacity: 0;
  }
  to {
    top: 190px;
    opacity: 1;
  }
}
.project .project__types .project__btn {
  width: 161px;
  height: 50px;
  padding: 12px 0;
  font-family: Inika, serif;
  font-size: 20px;
  color: #e06733;
  text-align: center;
  border: 1px solid #e06733;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.project .project__types .project__btn:hover {
  color: #ffffff;
  background-color: #e06733;
  transition: all 0.5s ease;
}

.project .project__types .project__btn_active {
  color: #ffffff;
  background-color: #e06733;
  cursor: auto;
}

.price-type .price-type__item {
  margin-bottom: 32px;
  padding: 13px 41px 13px 39px;
  width: 250px;
  height: 50px;
  background: #edf2ec;
  border-radius: 20px;
  cursor: pointer;
}

.price-type .price-type__item .price-type__wrap .price-type__text {
  font-family: Inter, sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
}

.price-type .price-type__item .price-type__wrap .price-type__arrow {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
}

.price-type .price-type__item .price-type__wrap .price-type__arrow::after, .price-type .price-type__item .price-type__wrap .price-type__arrow:before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 0.5px;
  border-radius: 100px;
  top: 7px;
  background: #717171;
}

.price-type .price-type__item_active {
  height: 154px;
  background: #d6e7d2;
}

.price {
  margin: 37px 0 107px;
}

.wrap {
  display: flex;
  justify-content: space-between;
}

.price-type {
  margin-top: 60px;
  padding: 33px 41px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}
.price-type .price-type__item {
  transition: all 0.5s ease;
}
.price-type .price-type__item:last-child {
  margin-bottom: 0;
}
.price-type .price-type__item:hover {
  background: #d6e7d2;
  transition: all 0.5s ease;
}
.price-type .price-type__item:hover .price-type__wrap .price-type__arrow {
  background: #aea1a1;
  transition: all 0.5s ease;
}
.price-type .price-type__item:hover .price-type__wrap .price-type__arrow::before {
  background: #ffffff;
}
.price-type .price-type__item:hover .price-type__wrap .price-type__arrow::after {
  background: #ffffff;
}
.price-type .price-type__item .price-type__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.price-type .price-type__item .price-type__wrap .price-type__arrow {
  background: #d9d9d9;
  transition: all 0.5s ease;
}
.price-type .price-type__item .price-type__wrap .price-type__arrow:before {
  left: 5.5px;
  transform: rotate(45deg);
}
.price-type .price-type__item .price-type__wrap .price-type__arrow::after {
  left: 7.5px;
  transform: rotate(-45deg);
}
.price-type .price-type__item .price-type__info {
  display: none;
}
.price-type .price-type__item_active .price-type__wrap:hover .price-type__arrow_active {
  background: #d9d9d9;
}
.price-type .price-type__item_active .price-type__wrap:hover .price-type__arrow_active::before {
  background: #717171;
}
.price-type .price-type__item_active .price-type__wrap:hover .price-type__arrow_active::after {
  background: #717171;
}
.price-type .price-type__item_active .price-type__wrap .price-type__arrow_active {
  background: #aea1a1;
}
.price-type .price-type__item_active .price-type__wrap .price-type__arrow_active::before {
  background-color: #ffffff;
  transform: rotate(-45deg);
}
.price-type .price-type__item_active .price-type__wrap .price-type__arrow_active::after {
  background-color: #ffffff;
  transform: rotate(45deg);
}
.price-type .price-type__item_active .price-type__info {
  display: block;
}
.price-type .price-type__item_active .price-type__info .price-type__more {
  position: relative;
  font-weight: 100;
  font-size: 10px;
  line-height: 1em;
}
.price-type .price-type__item_active .price-type__info .price-type__more::before {
  content: "";
  display: block;
  width: 164px;
  height: 1px;
  background: #aea1a1;
  margin: 7px 0;
}
.price-type .price-type__item_active .price-type__info .price-type__price {
  margin-top: 6px;
  font-size: 12px;
}
.price-type .price-type__item_active .price-type__info .price-type__price .dollar {
  font-weight: 700;
  color: #e06733;
}
.price-type .price-type__item_active .price-type__info .price-type__price .price {
  font-weight: 700;
  font-size: 16px;
  color: #e06733;
}
.price-type .price-type__item_active .price-type__info .price-type__price .period {
  color: #000000;
}
.price-type .price-type__item_active .price-type__info .price-type__price .period::before {
  content: "/";
  margin: 0 4px 0 3px;
}
.price-type .price-type__item_active .price-type__info .price-type__order {
  width: 86px;
  height: 25px;
  margin-top: 9px;
  padding: 4px 20px;
  font-weight: 700;
  font-size: 14px;
  color: #717171;
  background: #ffffff;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.price-type .price-type__item_active .price-type__info .price-type__order:hover {
  color: #ffffff;
  background: #717171;
  transition: all 0.5s ease;
}

.help {
  width: 455px;
}
.help .help__title {
  text-align: right;
}
.help .help__title .help__span {
  color: #499a18;
}
.help .help__link {
  margin: 42px 0 0 auto;
  padding: 11px 0;
  display: block;
  width: 160px;
  font-family: Inika, serif;
  font-weight: 700;
  font-size: 20px;
  color: #e06733;
  text-align: center;
  border: 1px solid #e06733;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.help .help__link:hover {
  color: #ffffff;
  background: #e06733;
  transition: all 0.5s ease;
}
.help .help__img {
  display: block;
  margin: 34px 0 0 auto;
}

.city .city__block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 35px 10px 35px;
  width: 448px;
  height: 50px;
  background: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #d6e7d2;
  cursor: pointer;
  transition: all 0.5s ease;
}

.city .city__block .city__arrow {
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 100px;
}

.city .city__block .city__arrow::after, .city .city__block .city__arrow::before {
  content: "";
  position: absolute;
  display: block;
  width: 3px;
  height: 0.5px;
  border-radius: 100px;
  top: 8px;
  background: #ffffff;
}

.city .city__block_active, .city .city__block:hover {
  background: #c1e698;
  box-shadow: none;
}

.city .city__list {
  padding: 38px 25px 31px 35px;
  width: 448px;
  height: 234px;
  background: #dce9d9;
}

.city .city__list .city__item {
  margin-bottom: 20px;
  padding-left: 7px;
  font-size: 16px;
  line-height: 1.4em;
  color: #499a18;
  letter-spacing: 0.05em;
}

.city .city__list .city__item::after {
  content: "";
  display: block;
  margin-top: 2px;
  margin-left: -7px;
  border: 0.5px solid #d9d9d9;
}

.contact {
  background: #edf2ec url("../../assets/images/garden-woman.png") no-repeat 107px bottom;
  padding: 61px 0 90px;
}

.contact-title {
  margin-bottom: 36px;
  font-weight: 700;
  text-align: center;
}

.city {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.city .city__block:hover {
  transition: all 0.5s ease;
}
.city .city__block:hover .city__arrow {
  background: #8ba07e;
  transition: all 0.5s ease;
}
.city .city__block:hover .city__arrow::before {
  transform: rotate(-45deg);
}
.city .city__block:hover .city__arrow::after {
  transform: rotate(45deg);
}
.city .city__block .city__text {
  letter-spacing: 0.05em;
}
.city .city__block .city__arrow {
  background: #aea1a1;
}
.city .city__block .city__arrow::before {
  left: 5.5px;
  transform: rotate(45deg);
}
.city .city__block .city__arrow::after {
  left: 7.5px;
  transform: rotate(-45deg);
}
.city .city__block_active .city__arrow {
  background: #8ba07e;
}
.city .city__block_active .city__arrow::before {
  transform: rotate(-45deg);
}
.city .city__block_active .city__arrow::after {
  transform: rotate(45deg);
}
.city .city__list {
  position: absolute;
  top: 50px;
  right: 0;
  display: none;
}
.city .city__list .city__item:hover {
  color: #717171;
  cursor: pointer;
}
.city .city__list .city__item:hover::after {
  border: 0.5px solid #717171;
}
.address {
  padding: 22px 33px 32px;
  margin: 47px 0 0 auto;
  width: 448px;
  border: 1px solid #000000;
  border-radius: 20px;
  opacity: 0;
}
.address .address__item {
  margin-bottom: 16px;
}
.address .address__item .address__key {
  font-size: 16px;
  color: #000000;
  letter-spacing: 0.05em;
}
.address .address__item .address__key_city {
  margin-right: 105px;
}
.address .address__item .address__key_phone {
  margin-right: 84px;
}
.address .address__item .address__key_office {
  margin-right: 15px;
}
.address .address__item .address__value {
  font-size: 16px;
  color: #717171;
  letter-spacing: 0.05em;
}
.address .address__call {
  display: block;
  margin: 28px auto 0;
  box-sizing: border-box;
  width: 122px;
  padding: 5px 0;
  font-family: Inika, serif;
  font-weight: 700;
  font-size: 10px;
  text-align: center;
  color: #717171;
  border: 1px solid #e06733;
  border-radius: 5px;
  transition: all 0.5s ease;
}
.address .address__call:hover {
  color: #ffffff;
  background: #e06733;
  transition: all 0.5s ease;
}

.container {
  width: 1222px;
  margin: 0 auto;
}/*# sourceMappingURL=main.css.map */