$font-title: Inika, serif;
$font-main: Inter, sans-serif;

$color-green: #499a18;
$color-orange: #e06733;
$color-lightgray: #717171;
$color-gray: #636060;
$color-black: #000000;
$color-white: #ffffff;


$color-links: #010201;

$bgcolor-lightgreen: #edf2ec;