$font-title: Inika, serif;
$font-main: Inter, sans-serif;

$color-green: #499a18;
$color-orange: #e06733;
$color-lightgray: #717171;
$color-gray: #636060;
$color-black: #000000;
$color-white: #ffffff;

$color-links: #010201;
$color-border: #e3e1d5;
$color-land: #aea1a1;

$bgcolor-lightgreen: #edf2ec;
$bgcolor-green: #d6e7d2;
$bgcolor-grass: #c1e698;
$bgcolor-darkgreen: #8ba07e;
$bgcolor-gentlereen: #dce9d9;