@import "../core/typography";

.about {
  margin: 90px 0 96px;
}

.us {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.gardener {
  width: 605px;

  .gardener__title {
    margin: 14px 0 40px;
    padding-right: 20px;
  
    .gardener__span {
      color: $color-orange;
    }
  }

  .gardener__text {
    line-height: 1.5em;
  }
}
